
use admin;

db.createUser({
  user: "{{ mongo_root_admin_name }}",
  pwd: "{{ mongo_user_admin_pwd }}",
  roles: [
    { role: "root", db: "admin" }
  ]
});

db.createUser({
  user: "backupuser",
  pwd: "passw0rd",
  roles: [
    { role: "root", db: "admin" }
  ]
});

db.createUser({
  user: "{{ mongo_user_admin_name }}",
  pwd: "{{ mongo_user_admin_pwd }}",
  roles: [
    { role: "root", db: "admin" }
  ]
});