# mongod.conf
# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ mongo_systemlog_path }}

# Where and how to store data.
storage:
  dbPath: {{ mongo_db_path }}

# network interfaces
net:
  port: {{ mongo_port }}
{% if replication_enabled == true %}
  bindIp: {{ mongo_bind_ip }}
  tls:
    mode: {{ tls_mode }}
    certificateKeyFile: {{ mongodb_ssl_directory }}/{{ concatenate_mongodb_pem_file }}
    certificateKeyFilePassword: {{ secret_ca_passphrase }}
    CAFile: {{ ca_directory_path }}/{{ ca_cert_pem_name }}
    allowConnectionsWithoutCertificates: {{ allow_connection_without_certificates }}
{% else %}
  bindIp: {{ mongo_bind_ip }}
{% endif %}

{% if authentication_enabled == true %}
security:
  authorization: enabled
{% if replication_enabled == true %}
  keyFile: /etc/{{ mongo_authentication_keyname }}
{% endif %}
{% endif %}

{% if replication_enabled == true %}
replication:
  replSetName: {{ mongo_repl_set_name }}
{% endif %}
