[Unit]
Description=MongoDB Database Service
Wants=network.target
After=network.target

[Service]
User={{ mongodb_user }}
Group={{ mongodb_group }}
ExecStart=/usr/bin/mongod --config /etc/mongod.conf
ExecReload=/bin/kill -s HUP $MAINPID
PIDFile=/var/run/mongodb/mongod.pid
LimitNOFILE=64000
TimeoutStopSec=5
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
